.index #wrapper {
  @include responsive {
    display: block;
  }
}

#active_admin_content {
  @include responsive {
    padding: 6px;
  }
  
  #main_content_wrapper {
    @include responsive {
      float: none;
      padding: 6px;

      #main_content {
        margin-right: inherit;
      }
    }
  }

  #sidebar {
    @include responsive {
      float: none;
      width: 100%;

      margin-top:  20px;
      margin-left: inherit;
    }
  }
}
